#pie > p{
	vertical-align : bottom;
	float: bottom;
	display: block;
	text-align : center;
}
#session{
	background-color: #EEEEEE;
	text-align: right;
	padding: 1.5em;
	display: block;	
}
#leftMenu {
	position: relative;
	display: inline-block;
}
#adminIndex,#adminCursos,#inscrcursos,#adminSalas,#adminPortatiles,#personalData,#vistadia,#misSalas, #misPortatiles{
	display: inline;
	float: right;
	padding: 3em;
}
#salaNotReser,#portatilNotReser{
	background: red;
}
#salaReser,#portatilReser{
	background: green;
}
#listadoSalas,#listadoPortatiles{
	display: inline-block;
	min-width: 10em;
	padding: 2em;	
}