body{
	font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
}
.logo{
    top:0.3em;
    left:0.3em;
    position: absolute;
    z-index: 3;
    height: 70px;
    width: auto;
    background-image: url(img/Logo_URJC.png);
}
.logo2{
    top:0.5em;
    left:5em;
    position: absolute;
    z-index: 3;
    height: 65px;
    width: auto;
    background-image: url(img/Logo_URJC.png);
}
#home{

	margin: 0px;
    margin-right: 6px;
}
#pie{
	vertical-align: bottom;
	display:block;
	text-align : center;
    clear:both;
    background-color: #e3e3ff;
    font-weight: bold;
    padding:0.3em;
    color: #262679; 
}
#session{
	background-color: #e3e3ff;
	text-align: right;
	padding: 1.5em;
	display: block;	
    height: 80px;
    vertical-align:middle;	


}
#botonSalir{
    color:white;
    background-color: #f40c0c;
    vertical-align: middle;
    font-weight: bold;
}
#botonSalir span{
    vertical-align: middle;
}
#nombreUsuario{
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    width: 100%;
    padding:6px;
    margin-top: 9px;
    vertical-align: middle;
}
#leftMenu {
	top:0px;
	position: left;
	display: inline-block;
	vertical-align: top;
	margin: 0.5em;
}
#leftMenu a{
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}
#leftMenu>div div{
    padding: 0.7em;
    border-bottom:2px solid #d5d6ff;

}
#leftMenu>div div:hover{
    background-color: #d7d7d8;
}
#leftMenu>div div:hover a{
    color: white;
}

#menuSelected{
    background-color: #e3e3ff;
}

#adminIndex,#inscrcursos,#vistadia,#misSalas, #misPortatiles{
	display: inline;
	float: right;
	padding: 3em;
}
#salaNotReser,#portatilNotReser{
	background: red;
}
#salaReser,#portatilReser{
	background: green;
}
#listadoSalas,#listadoPortatiles{
	display: inline-block;
	min-width: 10em;
	padding: 2em;	
}
#adminSalanueva form{
	width: 60%;
	position: relative;
	display : inline;

}
#adminPortatiles form{
	width: 60%;
	position: relative;
	display : inline;
	
}
#adminCursos form{
	width: 60%;
	position: relative;
	display : inline;
	
}
#login form{
	width: 90%;

	

}

#login form>div{
   	margin-top:1em;
	
}
#login form>div>div{
	vertical-align: top;
	padding: 1em;
    width: 100%;
	
}
#adminCursos form>div, #adminPortatiles form>div, #adminSalanueva form>div{
	vertical-align: top;
	display : inline-block;
	margin-top:1em;

}
#adminCursos form>div>div,#adminPortatiles form>div>div, #adminSalanueva form>div>div{
	vertical-align: top;
	display : inline-block;
	padding: 1em;
    float: center;
    width: 100%;
	
}
#submit{
    clear:both;
   	margin:1em;
    margin-left: 0em;
    margin-top: 0em;
    margin-right: 0em;
    color: white;
   
}
#submit span{
   color: white;
   
}
#adminPortatiles md-content, #adminPortatiles{
	background-color:transparent;
	display : inline;
}
#adminCursos md-content, #adminCursos, #adminSalanueva md-content, #adminSalanueva{
	background-color:transparent;
	display : inline;
}
#adminSala md-content,#adminSala {
	background-color:transparent;
	width:auto;
	display : inline-block;
}
#adminSala2 md-content,#adminSala2 {
	background-color:transparent;
	width:auto;
	display : inline-block;
}
#login md-content, #login{

	background-color:transparent;
	width:auto;
	display : inline-block;
}

#sala{
	padding:1em;
}

#content3{
	color: #262679; 
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width:40%;
    background-color: white;
    margin: 0.9em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 1em !important;
}
#content3 span{
    text-transform: none;
}
#content3 h5{
    color: #262679; 
    margin: 0px;
}
#content3 h3{
    color: #262679; 
}
#content3 u{
	margin-top:1em;
	color:#919191;
}
#content2{
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
	width: 100%;
    background-color: white;
    margin: 0.9em;
    margin-top:3em;
    margin-left:5.5em;
    margin-bottom: 3em;
    font-size: 1em !important;
}
#content2 span{
    text-transform: none;
}
#content2 h5{
    color: #262679; 
    margin: 0px;
}
#content2 h3{
    color: #262679; 
}
#content{
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
	width: 40%;
    background-color: white;
    margin: 0.5em;
    font-size: 1em !important;
}
#content span{
    text-transform: none;
}
#content h5{
    color: #262679; 
    margin: 0px;
}
#content h3{
    color: #262679; 
}


#adminSalanueva p {
	color:#bbbbbb;

}
md-input-container md-select {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    background: none;
    padding: 11px 0px 2px 1px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    margin: 0;
}
.md-input-has-value md-select {
    padding: 0px 0px 2px 1px;
}

md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
