<div ng-controller="LoginController as vm">
	<div id="session">
		<div ng-hide="vm.islog[0]"> 
			<a href="#/loginregistro">Registrarse</a>
			<a href="#/loginregistro">Iniciar sesión</a>
		</div>
		<div ng-hide="!vm.islog[0]">
			<a href="#/micuenta">{{vm.persona.nombre}}</a>
			<form ng-submit="vm.logout()">
		 	<input type='submit' name='Cerrarsesion' value="Cerrar sesión" />
			</form>
		</div>
	</div>
	
	<div id="login">	
		<p>LOGIN</p>
		<form ng-submit="vm.login()">
			<b>Correo:</b><br> <input type='text' ng-model="vm.maillog" /><br>
			<b>Contraseña:</b><br> <input type="password" ng-model="vm.passlog" /><br>
			<br> <input type='submit' name='Inicar sesion' value="Iniciar sesión" />
		</form>
	</div>
	<div id="signup">
		<p>REGISTRO</p>
		<form ng-submit="vm.signup()">
			<b>Correo:</b><br> <input type='text' ng-model="vm.mail" /><br>
			<b>Contraseña:</b><br> <input type="password" ng-model="vm.pass" /><br>
			<br> <input type='submit' name='Registro' value="Registro" />
		</form>
	</div>
	<!--¿Darse de baja?-->
</div>