<div id="session" ng-controller="LoginController as vm">
	<div>	
		<img  class="logo" src="img/Logo_URJC.png"/>
		<img  class="logo2" src="img/logoBURJC.png"/>
		<div ng-hide="vm.islog[0]"> 
			<a id="nombreUsuario" href="#/loginregistro">Registrarse | Iniciar sesión</a>
		</div>
		<div ng-hide="!vm.islog[0]">
			<a id="nombreUsuario" href="#/vistadia">Hola {{vm.persona.nombre}}</a>
		 	<md-button id="botonSalir" ng-click="vm.logout()" class="md-raised">Salir <md-icon md-svg-src="img/logout.svg"/></md-button>
		</div>
	</div>
</div>

<!--Menú izquierdo-->
<div id="leftMenu" layout="column"  ng-controller="MicuentaController as vm">
  <div  ng-hide="!vm.islog[0]">
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <a href="#/reservasala"><md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><md-icon id="home" md-svg-src="img/home.svg"></md-icon> {{vm.persona.nombre}}</h1>
      </md-toolbar></a>
       <md-content ng-hide="vm.islog[1]">
       <div layout-gt-sm="row">
       		<a href="#/reservasala">Reservar sala</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/reservaportatil">Reservar portatil</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href= "#/inscripcioncurso">Inscribirse a curso</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/missalas">Mis salas reservadas</a> 
       </div>
       	<div layout-gt-sm="row">
		       <a href="#/misportatiles">Mis portátiles reservados</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/miscursos">Cursos inscritos</a> 
       </div>
       <div layout-gt-sm="row">
       		<a href="#/reservasala">Información salas</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/reservaportatil">Información portátiles</a>
       	</div>
       	<div id="lastMenu" layout-gt-sm="row">
       		<a href="#/personalData">Datos personales</a>
      	</div>
      </md-content>
      <md-content ng-hide="!vm.islog[1]" >
       
       	<div layout-gt-sm="row">
       		<a href="#/controlsalas">Control Salas</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/controlportatiles">Control Portátiles</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/adminsalas">Administrar Salas</a>
       </div>
       	<div id="menuSelected" layout-gt-sm="row">
       		<a href="#/adminportatiles">Administrar Portátiles</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/admincursos">Administrar Cursos</a> 
       </div>
       	<div id="lastMenu" layout-gt-sm="row">
       		<a href="#/personalData">Datos personales</a> 
      	</div>
      </md-content>
    </md-sidenav>
  </section>
  </div>
  <div  ng-hide="vm.islog[0]">
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <a href="#/vistadia"><md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><md-icon id="home" md-svg-src="img/home.svg"></md-icon> Inicio</h1>
      </md-toolbar></a>
       <md-content>
		<div layout-gt-sm="row">
       		<a href="#/inscripcioncurso">Cursos</a>
       	</div>        
       <div layout-gt-sm="row">
       		<a href="#/reservasala">Salas reservadas</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/reservaportatil">Portátiles reservados</a>
       	</div>
        <div layout-gt-sm="row">
       		<a href="#/reservasala">Información salas</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/reservaportatil">Información portátiles</a>
       	</div>
      </md-content>
    </md-sidenav>
  </section>
  </div>
</div>

<div id="adminPortatiles" ng-controller="PortatilesController as vm">


	<md-content ng-show="vm.islog[1]" layout-padding>
	
		<form ng-submit="vm.modifyPortatil(vm.portatilmodificar)">
		<md-toolbar id="content" flex  layout="row" layout-align="center">	 
	 		 <h3>Modificando portatil {{vm.portatilmodificar.id}}</h3>
			<div flex>
			<div layout-gt-sm="row">
			<div layout-gt-sm="colum" flex="100">
        		<md-input-container flex>
          			<label>Estado</label>
         			<textarea type='text' rows='4' cols='60' required="true" ng-model = "vm.portatilmodificar.estado"></textarea>
        		</md-input-container>
        	</div>
        	</div>
        	<div layout-gt-sm="row">
        	<div layout-gt-sm="colum" flex="100">	
        		<md-input-container flex>
          			<label>Características</label>
					<textarea type='text' rows='4' cols='60' required="true" ng-model = "vm.portatilmodificar.caracteristicas"></textarea>        		
				</md-input-container>
			</div>
			</div>
			</div>
		</form>
		 <md-button id="submit" class="md-raised md-primary">Guardar modificación portatil</md-button>
		 <md-button href="#/adminportatiles" class="md-raised">Cancelar</md-button>	
		 </md-toolbar>
		</form>
	</md-content>
	
		
	</div>
</div>