<div id="session" ng-controller="LoginController as vm">
	<div>	
		<img  class="logo" src="img/Logo_URJC.png"/>
		<img  class="logo2" src="img/logoBURJC.png"/>
		<div ng-hide="vm.islog[0]"> 
			<a id="nombreUsuario" href="#/loginregistro">Registrarse | Iniciar sesión</a>
		</div>
		<div ng-hide="!vm.islog[0]">
			<a id="nombreUsuario" href="#/vistadia">Hola {{vm.persona.nombre}}</a>
		 	<md-button id="botonSalir" ng-click="vm.logout()" class="md-raised">Salir <md-icon md-svg-src="img/logout.svg"/></md-button>
		</div>
	</div>
</div>

<!--Menú izquierdo-->
<div id="leftMenu" layout="column"  ng-controller="MicuentaController as vm">
  <div  ng-hide="!vm.islog[0]">
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

       <md-content ng-hide="vm.islog[1]">
       <a href="#/vistadia"><md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><md-icon id="home" md-svg-src="img/home.svg"></md-icon> {{vm.persona.nombre}}</h1>
      </md-toolbar></a>
       <div id="menuSelected" layout-gt-sm="row">
       		<a href="#/reservasala">Reservar sala</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/reservaportatil">Reservar portatil</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href= "#/inscripcioncurso">Inscribirse a curso</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/missalas">Mis salas reservadas</a> 
       </div>
       	<div layout-gt-sm="row">
		       <a href="#/misportatiles">Mis portátiles reservados</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/miscursos">Cursos inscritos</a> 
       </div>
       <div layout-gt-sm="row">
       		<a href="#/salas">Información salas</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/portatiles">Información portátiles</a>
       	</div>
       	<div id="lastMenu" layout-gt-sm="row">
       		<a href="#/personalData">Datos personales</a>
      	</div>
      </md-content>
      <md-content ng-hide="!vm.islog[1]" >
       <a href="#/reservasala"><md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><md-icon id="home" md-svg-src="img/home.svg"></md-icon> {{vm.persona.nombre}}</h1>
      </md-toolbar></a>
       	<div layout-gt-sm="row">
       		<a href="#/controlsalas">Control Salas</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/controlportatiles">Control Portátiles</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/salas">Administrar Salas</a>
       </div>
       	<div  layout-gt-sm="row">
       		<a href="#/portatiles">Administrar Portátiles</a> 
       </div>
       	<div layout-gt-sm="row">
       		<a href="#/cursos">Administrar Cursos</a> 
       </div>
       	<div id="lastMenu" layout-gt-sm="row">
       		<a href="#/personalData">Datos personales</a> 
      	</div>
      </md-content>
    </md-sidenav>
  </section>
  </div>
  <div  ng-hide="vm.islog[0]">
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <a href="#/vistadia"><md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><md-icon id="home" md-svg-src="img/home.svg"></md-icon> Inicio</h1>
      </md-toolbar></a>
       <md-content>
       <div layout-gt-sm="row">
       		<a href="#/inscripcioncurso">Cursos</a>
       	</div>        
       <div id="menuSelected" layout-gt-sm="row">
       		<a href="#/reservasala">Salas reservadas</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/reservaportatil">Portátiles reservados</a>
       	</div>
        <div layout-gt-sm="row">
       		<a href="#/salas">Información salas</a>
       	</div>
       	<div layout-gt-sm="row">
       		<a href="#/portatiles">Información portátiles</a>
       	</div>
      </md-content>
    </md-sidenav>
  </section>
  </div>
</div>

<div id="adminIndex" ng-controller="SalasController as vm">
<div ng-hide="vm.carga">Cargando...</div>
	<div ng-show="vm.carga">	
	
	<div ng-if="!vm.islog[1]">	
	<button type="button" ng-disabled="vm.fechaAnterior.dayBefore" ng-click="vm.previusDay()">Anterior</button>
	<span>{{vm.date2[2]}}-{{vm.date2[1]}}-{{vm.date2[0]}}</span>
	<button type="button" ng-click="vm.nextDay()">Siguiente</button>
	</div>

<div id="listadoSalas" ng-repeat="sala in vm.salas">	
	
		<p>Sala {{sala.id}}</p>
		<div ng-repeat="hour in vm.hours">			
			<div ng-if="vm.checkTotal[$parent.$index][$index]">				
				<div id="salaReser"><p>{{hour}}:00 - 	
					<span ng-if="!vm.islog[1]">
						Reservada</p>
					</span>
				</div>			
			</div>
			<div ng-if="!vm.checkTotal[$parent.$index][$index]">
				<div id="salaNotReser"><p>{{hour}}:00 - Vacía</p></div>
				<span ng-if="vm.islog[0]">
					<button type="button" ng-hide="vm.islog[1]" ng-click="vm.reservar($parent.$parent.$parent.$index,hour)">Reservar</button>							
				</span>
			</div>		
		</div>
	</div>	
</div>



