<div id="session" ng-controller="LoginController as vm">
	<div>	
		<div ng-hide="vm.islog[0]"> 
			<a href="#/loginregistro">Registrarse</a>
			<a href="#/loginregistro">Iniciar sesión</a>
		</div>
		<div ng-hide="!vm.islog[0]">
			<a href="#/vistadia">{{vm.persona.nombre}}</a>
			<form ng-submit="vm.logout()">
		 	<input type='submit' name='Cerrarsesion' value="Cerrar sesión" />
			</form>
		</div>
	</div>
</div>

<!--Menú izquierdo-->
<div id="leftMenu" layout="column" style="height:500px;"  ng-controller="MicuentaController as vm">
  <div  ng-hide="!vm.islog[0]">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">{{vm.persona.nombre}}</h1>
      	<h1 class="md-toolbar-tools">{{vm.hour[0]}}</h1>
      	
      	<button type="button" ng-click="vm.print()">Print datos</button>

      	<h1 class="md-toolbar-tools">{{vm.dayweek.dayWeek}}</h1>
      </md-toolbar>
       <md-content ng-hide="vm.islog[1]"layout-padding >
       <a href="#/reservasala">Reservar sala</a></br>
       <a href="#/reservaportatil">Reservar portatil</a></br>
       <a href= "#/inscripcioncurso">Inscribirse a curso</a></br>
       <a href="#/missalas">Mis salas reservadas</a> </br>
       <a href="#/misportatiles">Mis portátiles reservados</a> </br>
       <a href="#/miscursos">Cursos inscritos</a> </br>
       <a href="#/personalData">Datos personales</a>
      </md-content>
      <md-content ng-hide="!vm.islog[1]" layout-padding >
       <a href="#/controlsalas">Control Salas</a> </br>
       <a href="#/controlportatiles">Control Portátiles</a> </br>
       <a href="#/adminsalas">Administrar Salas</a> </br>
       <a href="#/adminportatiles">Administrar Portátiles</a> </br>
       <a href="#/admincursos">Administrar Cursos</a> </br>
       <a href="#/personalData">Datos personales</a> 
      </md-content>
    </md-sidenav>
  </section>
  </div>
</div>

<div id="adminIndex" ng-controller="SalasController as vm">

	
	<div ng-if="!vm.islog[1]">	
	<button type="button" ng-disabled="true" ng-click="vm.previusDay()">Anterior</button>
	<span>{{vm.date2[2]}}-{{vm.date2[1]}}-{{vm.date2[0]}}</span>
	<button type="button" ng-click="vm.nextDay()">Siguiente</button>
	</div>

<div id="listadoSalas" ng-repeat="sala in vm.salas">	
	<div ng-hide="vm.carga">Cargando...</div>
	<div ng-show="vm.carga">	
		<p>Sala {{sala.id}}</p>
		<div ng-repeat="hour in vm.hours">			
			<div ng-if="vm.checkTotal[$parent.$index][$index]">				
				<div id="salaReser"><p>{{hour}}:00 - 	
					<span ng-if="!vm.islog[1]">
						Reservada</p>
					</span>
				</div>			
			</div>
			<div ng-if="!vm.checkTotal[$parent.$index][$index]">
				<div id="salaNotReser"><p>{{hour}}:00 - Vacía</p></div>
				<span ng-if="vm.islog[0]">
					<button type="button" ng-hide="vm.islog[1]" ng-click="vm.reservar($parent.$parent.$parent.$index,hour)">Reservar</button>							
				</span>
			</div>		
		</div>
	</div>	
</div>



